body,html {
	margin:0;
	height:100%;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 30% 70%;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	padding:20px;
	background-color: rgb(180, 127, 149);
	color: white;
	font-size: 2em;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding:50px;
	background-color: rgb(219, 179, 193);
	overflow: auto;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:15px;
	background-color: rgb(243, 237, 242);
}