body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 20% 80%;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding: 20px;
	background-color: rgb(129, 173, 201);
	color: white;
	font-size: 2em;
}

.sidebar {
	text-align: center;
	grid-area: sidebar;
	padding: 20px;
	background-color: lightblue;
}

.content {
	grid-area: content;
}

.sidebar-item {
	padding: 10px;
	background: rgb(148, 181, 223);
	border-radius: 20px;
	margin: 15px;
	color: rgb(242, 241, 247);
	text-align: center;
}

.sidebar-item:hover {
	background-color: blue;
	box-shadow: 5px 5px;
}